<ion-header>
  <ion-toolbar>
    <ion-title>
      ABM Ionic Firebase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ng-container *ngIf="!form || form.length == 0">
      <div *ngFor="let a of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    
    <ion-item-sliding *ngFor="let item of form">

      <ion-item [routerLink]="['/formulario', item.id]">

        <ion-label>
          {{ item.nombre }}<p>{{item.creado | date:'short'}}</p>
        </ion-label>

      </ion-item>
      
      <ion-item-options side="end">
          <ion-item-option (click)="remove(item)" color="secondary">
            Eliminar
            <ion-icon name="checkmark" slot="end"></ion-icon>
          </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/form" routerDirection="forward">
        <ion-icon name ="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>

</ion-content>
